<h1> Make a reservation for room: {{ roomId }}</h1>

<form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="reserveReason">Reserve For:</label>
      <select #reserveReason="ngModel" 
              name="reserveReason" 
              id="reserveReason" 
              [ngClass]="{'is-invalid' : reserveReason.errors && reserveReason.touched }"
              class="form-control"
              ngModel required>
        <option *ngFor="let type of reservationType">
          {{ type }}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="reserveReason.touched && reserveReason.invalid">
        Please choose and activity from the list
      </div>
    </div>
  <div class="form-group">
    <label for="userEmail">Email</label>
    <div class="input-group">
      <input type="text"
             class="form-control" 
             #userEmail="ngModel" 
             [ngClass]="{'is-invalid' : userEmail.errors && userEmail.touched }"
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             name="userEmail"
             ngModel
             required>
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Email required
      </div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
        Email is not valid, please enter a valid Email address.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmEmail">Confirm Email</label>
    <div class="input-group">
      <input type="text"
             class="form-control" 
             #confirmEmail="ngModel" 
             [ngClass]="{'is-invalid' : confirmEmail.errors && confirmEmail.touched}"
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             name="confirmEmail"
             [equalTo]="userEmail"
             ngModel
             email
             required>
      <div [hidden]="!confirmEmail.errors?.required" class="invalid-feedback">
        Email required
      </div>
      <div [hidden]="!confirmEmail.errors?.pattern" class="invalid-feedback">
        Email is not valid, please enter a valid Email address.
      </div>
      <div [hidden]="!confirmEmail.errors?.equalTo" class="invalid-feedback">
        Please make sure both emails match.
      </div>
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="startTime">Start Time</label>
    <input #startTime="ngModel" 
           [(ngModel)]="startTime"
           name="startTime" 
           id="startTime"
           type="number"
           class="form-control"
           required minDate="startTime"> 
    </div>
  <div class="alert alert-danger" *ngIf="startTime.touched && startTime.invalid">
    <div *ngIf="startTime?.errors?.required">Start time required </div>
    <div *ngIf="startTime?.errors?.minDate">Please a valid date, choose a date from {{ startTime }} forward! </div>
  </div> -->
  <div class="form-group">
    <div class="input-group">
      <input class="form-control"
             placeholder="yyyy-mm-dd"
             name="dp"
             [(ngModel)]="selectedDate"
             ngbDatepicker
             #d="ngbDatepicker"
             required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="../../../assets/images/calendarSVG.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
    </div>
  </div>


  <button class="btn btn-primary">Save</button>
  <!-- <button type="button" (click)="delete()" class="btn btn-danger">Delete</button> -->
</form>