<h1> Make a reservation for {{ roomID }}</h1>
<form #resvForm="ngForm">
    <div class="form-group">
      <label for="reason">Reserve For:</label>
      <div class="input-group">
      <select #reason="ngModel" 
              name="reason" 
              id="reason" 
              [ngClass]="{'is-invalid' : reason.errors && reason.touched }"
              class="form-control"
              ngModel
              required>
        <option *ngFor="let reason of reason$ | async" >
          {{ reason }}
        </option>
      </select>
      <div class="input-group-append">
        <span class="input-group-btn">
          <button class="btn btn-outline-secondary" (click)="showNewReasonForm = !showNewReasonForm">Add New Reason</button>
        </span>
      </div>
      <div class="invalid-feedback" *ngIf="reason.touched && reason.invalid">
        Please choose an activity from the list
      </div>
    </div>
    </div>
    <div *ngIf="showNewReasonForm">
      <gw-reservation-reason></gw-reservation-reason>
    </div>
    <div class="form-group">
      <label for="userName">Name:</label>
      <div class="input-group">
        <input type="text" 
               class="form-control"
               #name
               [ngClass]="{'is-invalid' : name.errors && name.touched}"
               name="name"
               [(ngModel)]="userName">
        <div [hidden]="!name.errors?.required" class="invalid-feedback">
          Name required
        </div>
      </div>
    </div>
  <div class="form-group">
    <label for="userEmail">Email</label>
    <div class="input-group">
      <input type="userEmail"
             class="form-control" 
             #email
             [(ngModel)]="userEmail"
             [ngClass]="{'is-invalid' : email.errors && email.touched}"
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             name="email"
             required>
      <div [hidden]="!email.errors?.required" class="invalid-feedback">
        Email required
      </div>
      <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
        Email is not valid, please enter a valid Email address.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="emailConfirmation">Confirm Email</label>
    <div class="input-group">
      <input type="email"
             class="form-control" 
             #emailConfirmation="ngModel"
             [ngClass]="{'is-invalid' : emailConfirmation.errors && emailConfirmation.touched}"
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             name="emailConfirmation"
             [equalTo]="email"
             ngModel
             email
             required>
      <div [hidden]="!emailConfirmation.errors?.required" class="invalid-feedback">
        Email required
      </div>
      <div [hidden]="!emailConfirmation.errors?.pattern" class="invalid-feedback">
        Email is not valid, please enter a valid Email address.
      </div>
      <div [hidden]="!emailConfirmation.errors?.equalTo" class="invalid-feedback">
        Please make sure both emails match.
      </div>
    </div>
    </div>
  <!-- <div class="form-group">
    <label for="date">
      Date Time:
      </label>
    <div class="input-group">
        <input 
              #date="ngModel"
              class="form-control"
              [owlDateTimeTrigger]="dt"
              name="date"
              ngModel
              [owlDateTime]="dt"
              required>
        <owl-date-time #dt [hour12Timer]="true"></owl-date-time>
      <h4>{{date}}</h4>
    </div>
</div> -->

<div class="form-group">
        <label for="startTime">Start Time:</label>

        <input #startTime="ngModel" ngModel name="startTime" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
        <owl-date-time #dtPicker1 [hour12Timer]="true"></owl-date-time>
                    <label for="endTime">End Time:</label>
        <input #endTime="ngModel" ngModel name="endTime" [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
        <owl-date-time #dtPicker2 [hour12Timer]="true"></owl-date-time>
      </div>
  

<div class="form-check">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" name="isAgreed" #isAgreed="ngModel" ngModel ngbButton required> Do you agree to the Reservation Terms?
  </label>
</div>
  <button (click)="save(resvForm.value)" [disabled]="!resvForm.valid" class="btn btn-primary">Save</button>
  <!-- <button type="button" (click)="delete()" class="btn btn-danger">Delete</button> -->
</form>