<h1> Make a reservation for {{ roomID }}</h1>

<form #reservationForm="ngForm" (ngSubmit)="save(reservationForm.value)">
    <div class="form-group">
      <label for="reason">Reserve For:</label>
      <select #reason="ngModel" 
              name="reason" 
              id="reason" 
              [ngClass]="{'is-invalid' : reason.errors && reason.touched }"
              class="form-control"
              ngModel
              required>
        <option *ngFor="let type of reservationType">
          {{ type }}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="reason.touched && reason.invalid">
        Please choose and activity from the list
      </div>
    </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group">
      <input type="email"
             class="form-control" 
             #email="ngModel"
             [ngClass]="{'is-invalid' : email.errors && email.touched }"
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             name="email"
             [value]="user?.email"
             ngModel
             required>
      <div [hidden]="!email.errors?.required" class="invalid-feedback">
        Email required
      </div>
      <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
        Email is not valid, please enter a valid Email address.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="emailConfirmation">Confirm Email</label>
    <div class="input-group">
      <input type="email"
             class="form-control" 
             #emailConfirmation="ngModel"
             [ngClass]="{'is-invalid' : emailConfirmation.errors && emailConfirmation.touched}"
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             name="emailConfirmation"
             [equalTo]="email"
             ngModel
             email
             required>
      <div [hidden]="!emailConfirmation.errors?.required" class="invalid-feedback">
        Email required
      </div>
      <div [hidden]="!emailConfirmation.errors?.pattern" class="invalid-feedback">
        Email is not valid, please enter a valid Email address.
      </div>
      <div [hidden]="!emailConfirmation.errors?.equalTo" class="invalid-feedback">
        Please make sure both emails match.
      </div>
    </div>
    </div>
  <!-- <div class="form-group">
    <label for="date">
      Date Time:
      </label>
    <div class="input-group">
        <input 
              #date="ngModel"
              class="form-control"
              [owlDateTimeTrigger]="dt"
              name="date"
              ngModel
              [owlDateTime]="dt"
              required>
        <owl-date-time #dt [hour12Timer]="true"></owl-date-time>
      <h4>{{date}}</h4>
    </div>
</div> -->

<div class="input-wrapper">
  <label>Date Time(binding via ngModel):</label>
  <input ngModel="date" name="date"[owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
  <owl-date-time #dtPicker1 [hour12Timer]="true"></owl-date-time>
</div>

  <!-- <div class="form-group">
    <label for="startTime">Start Time</label>
    <input #startTime="ngModel" 
           [(ngModel)]="startTime"
           name="startTime" 
           id="startTime"
           type="number"
           class="form-control"
           required minDate="startTime"> 
    </div>
  <div class="alert alert-danger" *ngIf="startTime.touched && startTime.invalid">
    <div *ngIf="startTime?.errors?.required">Start time required </div>
    <div *ngIf="startTime?.errors?.minDate">Please a valid date, choose a date from {{ startTime }} forward! </div>
  </div> -->
  <!-- <div class="form-group">
    <div class="input-group">
      <input class="form-control"
             placeholder="yyyy-mm-dd"
             name="dp"
             [(ngModel)]="selectedDate"
             ngbDatepicker
             #d="ngbDatepicker"
             required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="../../../assets/images/calendarSVG.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
    </div>
  </div> -->


  <button [disabled]="reservationForm.invalid" class="btn btn-primary">Save</button>
  <!-- <button type="button" (click)="delete()" class="btn btn-danger">Delete</button> -->
</form>