<ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item">
        <span *ngIf="user" class="navbar-text">
            {{ user.name }}
        </span>
    </li> -->
        <!-- <li [style.backgroundImage]="'url(' + user.pictureUrl + ')'" class="nav-item image-thumbnail" alt=""></li> -->
   <!-- <div class="nav-item">
       <img src="user?.pictureUrl"  class="navbar-brand">
   </div> -->
    <li ngbDropdown class="nav-item dropdown ">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navBarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="!user" class="navbar-text">Login</span>
            <span *ngIf="user" class="navbar-text">{{ user.name }}</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navBarDropdown">
            <gw-login [user]="user"></gw-login>
        </div>
    </li>
</ul>
