<ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item">
        <span *ngIf="user" class="navbar-text">
            {{ user.name }}
        </span>
    </li> -->
    <li ngbDropdown class="nav-item dropdown ">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navBarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="!user" class="navbar-text">Login</span>
            <span *ngIf="user" class="navbar-text">{{ user.name }}</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navBarDropdown">
            <gw-login></gw-login>
        </div>
    </li>
    <!-- <ng-template #loggedIn>
        <a *ngIf="user" ngbDropdownToggle class="nav-link dropdown-toggle" id="navBarDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ user.name }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navBarDropdown">
            <gw-login></gw-login>
        </div>
    </ng-template> -->
</ul>
