<div>
  <h1 *ngIf="room"> Welcome to {{ room?.name }} </h1>
  <ng-container *ngFor="let reservation of room?.reservations">
      <div *ngIf="room?.reservations.length > 0; else noRoom">
        There are {{ room?.reservations.length }} reservations for {{ room?.name }} today
      </div>
      <h2>Reservations</h2>
      <div class="card" *ngFor="let resv of room?.reservations">
        <h4>Email: {{resv.email}}</h4>
        <h4>Reservation Reason: {{ resv.reason }}</h4>
      </div>
  </ng-container>
  <div #noRoom [hidden]="room?.reservations.length > 0">There are no reservations for {{ room?.name }} today</div>
</div>


