<div>
  <h1>Wlecome to {{ room?.name }}</h1>
  <ng-template [ngIf]="room?.reservations.length > 0" [ngIfElse]="noRoom">
    <div>
      There are {{ room?.reservations.length }} reservations for {{ room?.name }} today
      <button routerLink="../form" class="btn btn-sm btn-light">Add New Reservation</button>
    </div>
  </ng-template>
      <h2>Reservations</h2>
      <div class="card" *ngFor="let resv of room?.reservations">
        <ul class="list-group">
        <li class="list-group-item">Email: {{resv.email}}</li>
        <li class="list-group-item">Reason: {{ resv.reason }}</li>
        <li class="list-group-item">Start Time: {{ resv.startDate | date : 'short' }}</li>
        <li class="list-group-item">End Time: {{ resv.endDate | date : 'short' }}</li>
        </ul>
      </div>
      <ng-template #noRoom>
          <div [hidden]="room?.reservations.length > 0">There are no reservations for {{ room?.name }} today</div>
            <button routerLink="../form" class="btn btn-md btn-primary">Make A New Reservation</button>
      </ng-template>
</div>


